Select ProperNames.OwnerID, ProperNames.Name, Positions.RA_hr, Positions.RA_min, Positions.RA_sec, Positions.Dec_deg, Positions.Dec_arcmin, Positions.Dec_arcsec
from Positions
INNER JOIN ProperNames ON Positions.OwnerID=ProperNames.OwnerID